
$fontSize01:12px!default;
$fontSize02:14px!default;
$fontSize03:16px!default;
$fontSize04:18px!default;
$fontSize05:24px!default;

$fontColor01:#333!default;
$fontColor02:#666!default;
$fontColor03:#999!default;
$fontColor04:#c4c4c4!default;

$background01:rgb(25,118,210)!default;
$background02:rgb(223,229,231)!default;
$background03:rgb(0,188,212)!default;

$borderBottom01:#e4e4e4!default;
$borderBottom02:#ababab!default;
$borderBottom03:#666!default;

$bodyBackground:#F0F0F2;

$navBarBackground:#252F33;

$blue01:#26C6DA;
$blue02:#10B065;
$blue03:#00B551;
$blue04:#3083FF;
$blue05:#00BCD3;

$green01:#259B24;
$green02:#2BAF2B;
$green03:#0AA356;
$green04:#009245;
$green05:#006E33;
$green06:#29B6F6;


$orange01:#F78C00;
$orange02:#F78C00;
$orange03:#F78C00;
$orange04:#FF7043;








