

@import '../../../styles/config';
@import "../../../styles/function";
@import "../../../styles/extend";
@import "../../../styles/keyframes";
@import "../../../styles/mixin";
@import "../../../styles/flex";
@import "../../../styles/thisStyle";
@import "../../../styles/base";
@import '../../../styles/common';

.self{
    &-block{
        padding-top:20px;
        margin-bottom: 10px;
        background: #fff;
        padding:0 15px;
        border-bottom:1px solid $borderBottom02;
        section{
            height:50px;
            line-height: 50px;
            position: relative;
            &:not(:last-child){
                border-bottom: 1px solid $borderBottom01;
            }
        }

        &-lr{
            padding-right:30px;
            @extend %flexbox;
            @include justify-content(space-between);
            @include align-items(center);
            p{
                &:first-child{
                    
                }
                &:last-child{
                    img{
                        width:40px;
                        height:40px;
                        overflow: hidden;
                        @include radius(20px);
                    }
                    mark{
                        height:50px;
                        line-height: 50px;
                        position: absolute;
                        top:0;
                        right:0;
                        color:$fontColor03;
                        font-size: $fontSize05;
                    }
                }
            }
            &-file{
                position: absolute;
                right:-15px;
                height:45px;
                width:100px;
                opacity: 0;
            }
        }

        &-in{
            @extend %flexbox;
            @include justify-content(space-between);
            &-left{
                
            }

            &-right{

            }
        }

        &-input{
            @extend %flexbox;
            input{
                height:44px;
                border:none;
            }
        }

    }
}


.selfEmail{
    &-input{
        padding:15px;
        input{
            width:100%;
            height:45px;
        }
    }

    &-tage{
        &-section{
            overflow: hidden;
            padding:0 15px;
            height:45px;
            line-height: 45px;
            width:100%;
            border-bottom: 1px solid #777;
            mark{
                float:right;
                line-height: 50px;
            }
        }
    }

    &-psw{
        &-section{
            margin-top:10px;
            padding:0 15px;
            input{
                width:100%;
                height:45px;
            }
        }
    }

    

}

.self-backLogin{
    width:100%;
    padding:15px;
    section{
        width:100%;
        height:45px;
        line-height: 45px;
        text-align: center;
        color: #fff;
        background: #10B065;
        @include radius(4px);
    }
}

.selfOnly{
    margin-top: 30px;
    padding-left:15px;
    padding-right:15px;
    &-sure{
        margin:0 auto;
        margin-top: 30px;
        width:98%;
        height:45px;
        line-height: 45px;
        background:#2BAF2B;
        color:#fff;
        text-align: center;
        @include radius(4px);
    }
}